html, h1, h2, h3, h4, h5, h6, p, input, button {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
} 
/*Css base Reset */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* general font */
html, body {
    margin: 0px;
    height: 100vh;
    scroll-behavior: smooth;
}
:root{
    --border-radius: 8px;
    --border-color: #E8F9FF;
    --text-color: #2A3D45;
    --text-size-normal: 1rem;
    --text-size-large: 1.5rem;
}
/* CSS variables */
.button {
    background-color: var(--border-color);
    border-radius: var(--border-radius);
    padding: 12px 24px;
    text-align: center;
    font-size: var(--text-size-normal);
}
.search-box {
    font-size: var(--text-size-large);
    border-radius: 5px;
    padding: 5px;
}
.ring{
    box-shadow: 0 0 2px 3px rgba(85, 123, 139, 0.7);
}
.card {
    font-size: var(--text-size-normal);
    background-color: #fff;              
    padding: 1rem;                        
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
/* resuable class styles */
body {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: var(--text-size-large);
}
#main{
    max-width: 100vw;
    height: 100%;
}
#header_section {
    padding: 2px;
    width: 100vw;
    height: 250px;
    background-image: url('./images/weather_app_image.jpg');
}